*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242731;
}

.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
  border: 1px solid red;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}
.info-mobile-block {
  display: none;
}

.info-desktop-block {
  display: block;
}

@media (max-width: 1024px) {
  .info-mobile-block {
    display: block;
  }
  .info-desktop-block {
    display: none;
  }
}
.info-block img {
  width: 51px;
  height: 49.27px;
  margin-right: 30.19px;
}
.info-block .speaker-block,
.info-block .bonus-block {
  display: flex;
}
.info-block .speaker-block p,
.info-block .bonus-block p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #fff;
}
.info-block .speaker-block {
  margin-bottom: 16px;
}
.info-block .speaker-block .name {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.6px;
  text-align: left;
}
.info-block .speaker-block .name span {
  color: #404ec3;
}
.info-block .speaker-block .speaker-info {
  max-width: 307.35px;
}
.info-block .bonus-block .bonus-info {
  max-width: 210px;
}
.info-block .bonus-block .bonus-info p:first-of-type {
  font-weight: 700;
  line-height: 17.76px;
}
.info-block.info-mobile-block {
  margin: 36px 60px 59px 60px;
}
.info-block.info-mobile-block .bonus-block {
  margin-bottom: 22px;
}
.info-block.info-mobile-block img {
  margin-right: 16.19px;
}
.info-block.info-mobile-block .info-block .speaker-block {
  margin-bottom: 0;
}

.header {
  margin: 0 256px 92px 256px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .header {
    margin: 0 0 92px 0;
  }
}
@media (max-width: 1024px) {
  .header {
    margin: 0;
  }
}
.header .wrapper {
  max-width: 1040px;
  width: 100%;
  padding: 24px 56px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header .wrapper {
    justify-content: space-evenly;
  }
}
@media (max-width: 1024px) {
  .header .wrapper {
    width: 100%;
    height: 104px;
    padding: 28px 16px 32px 30px;
  }
  .header .wrapper .logo-wrapper svg {
    width: 101px;
    height: 32px;
  }
}
.header .wrapper .info-container .pills-wrapper {
  width: 300px;
  display: flex;
}
@media (max-width: 1024px) {
  .header .wrapper .info-container .pills-wrapper {
    width: 178px;
  }
}
.header .wrapper .info-container .pills-wrapper .pill {
  width: 141px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #302e5a;
}
@media (max-width: 1024px) {
  .header .wrapper .info-container .pills-wrapper .pill {
    width: 88px;
    height: 24px;
    border-radius: 5.93px;
  }
}
.header .wrapper .info-container .pills-wrapper .pill.date {
  margin-right: 18px;
}
@media (max-width: 1024px) {
  .header .wrapper .info-container .pills-wrapper .pill.date {
    margin-right: 6px;
  }
}
.header .wrapper .info-container .pills-wrapper .pill svg {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
.header .wrapper .info-container .pills-wrapper .pill.time svg {
  width: 17px;
  height: 17px;
}
.header .wrapper .info-container .pills-wrapper .pill span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}
@media (max-width: 1024px) {
  .header .wrapper .info-container .pills-wrapper .pill span {
    font-size: 11px;
    line-height: 8.31px;
  }
}

.form-container {
  margin-left: 256px;
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .form-container {
    margin-left: 0;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .form-container {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
}
.form-container .text-wrapper {
  max-width: 427px;
  height: 453.99px;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper {
    max-width: 100%;
    height: 100%;
  }
}
.form-container .text-wrapper.block {
  margin-right: 135px;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper.block {
    margin-right: 0;
  }
  .form-container .text-wrapper.block .vebinar-pill {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
  }
}
.form-container .text-wrapper p {
  color: #fff;
}
.form-container .text-wrapper .globe-pill {
  width: 119px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  border-radius: 5px;
  background-color: #4252d1;
  color: #fff;
}
.form-container .text-wrapper .globe-pill svg {
  width: 19px;
  height: 19px;
  margin-right: 6px;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper .globe-pill {
    width: 89px;
    height: 23.93px;
    font-size: 12px;
    line-height: 17.95px;
  }
}
@media (max-width: 1024px) {
  .form-container .text-wrapper .headline-text {
    display: flex;
    justify-content: center;
  }
}
.form-container .text-wrapper .headline-text h1 {
  margin: 0;
  font-size: 77px;
  font-weight: 800;
  line-height: 94.33px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ff3459;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper .headline-text h1 {
    width: 290px;
    font-size: 52.73px;
    font-weight: 800;
    line-height: 64.59px;
    text-align: center;
  }
}
.form-container .text-wrapper .subtitle-block {
  display: flex;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper .subtitle-block {
    justify-content: center;
  }
}
.form-container .text-wrapper .subtitle-block .pill-red {
  width: 106.72px;
  height: 38.69px;
  margin-right: 16.27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23.64px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 28.96px;
  text-align: center;
  color: #fff;
  background-color: #ff3459;
  border-radius: 5px;
  rotate: -3.51deg;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper .subtitle-block .pill-red {
    width: 76.26px;
    height: 27.53px;
    font-size: 16px;
    border-radius: 3.57px;
    line-height: 19.6px;
    rotate: -3.49deg;
  }
}
.form-container .text-wrapper .subtitle-block h2.subtitle-text {
  margin: 0;
  font-size: 21.95px;
  font-weight: 400;
  line-height: 26.19px;
  text-align: left;
  color: #fff;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper .subtitle-block h2.subtitle-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 17.89px;
  }
}
.form-container .text-wrapper .description-text {
  max-width: 419px;
  margin-bottom: 58px;
  margin-top: 20.46px;
}
@media (max-width: 768px) {
  .form-container .text-wrapper .description-text {
    max-width: 328px;
    margin: 16px 16px 20px 16px;
  }
}
.form-container .text-wrapper .description-text p {
  font-size: 18px;
  font-weight: 100;
  line-height: 26.64px;
  text-align: left;
}
@media (max-width: 1024px) {
  .form-container .text-wrapper .description-text p {
    font-size: 14px;
    line-height: 20.72px;
    text-align: center;
  }
}
.form-container .text-wrapper .description-text p .white-bolder-text {
  font-weight: 600;
}
.form-container .form-wrapper {
  max-width: 366px;
  height: 474px;
  padding: 50px 58px;
  border-radius: 10px;
  background-color: #303a53;
}
@media (max-width: 1024px) {
  .form-container .form-wrapper {
    max-width: 328px;
    height: 423px;
    padding: 41px 21px;
    border-radius: 8.96px;
  }
}
.form-container .form-wrapper .form-text {
  text-align: center;
  color: #fff;
}
.form-container .form-wrapper .form-text p {
  margin: 0 0 18px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.99px;
  text-align: center;
}
.form-container .form-wrapper .form-text p .red-text {
  color: #ff3459;
}
.form-container .images-wrapper {
  max-width: 200px;
  margin-left: 34.8px;
}
.form-container .images-wrapper .right-img-block {
  position: relative;
}
.form-container .images-wrapper .right-img-block.html-img {
  top: 5%;
  left: 80%;
}
.form-container .images-wrapper .right-img-block.html-img img {
  height: 88.28px;
}
.form-container .images-wrapper .right-img-block.css-img img {
  height: 85.45px;
}
.form-container .images-wrapper .right-img-block.javascript-img {
  bottom: 10%;
  left: 100%;
}
.form-container .images-wrapper .right-img-block.javascript-img img {
  height: 72.94px;
}
.form-container .images-wrapper .right-img-block.subline-tex-img {
  left: 10%;
  bottom: 10%;
}
.form-container .images-wrapper .right-img-block.subline-tex-img img {
  height: 53.93px;
}
.form-container .images-wrapper .right-img-block.visual-studio-img {
  left: 90%;
  bottom: 15%;
}
.form-container .images-wrapper .right-img-block.visual-studio-img img {
  height: 60.62px;
}
@media (max-width: 1024px) {
  .form-container .images-wrapper {
    display: none;
  }
}

.form-wrapper #registration-form {
  display: flex;
  flex-direction: column;
}
.form-wrapper #registration-form .iti__selected-dial-code {
  color: #d7d7d7;
}
@media (max-width: 1024px) {
  .form-wrapper #registration-form {
    align-items: center;
  }
  .form-wrapper #registration-form .iti.iti--allow-dropdown.iti--show-flags {
    width: 100%;
  }
}
.form-wrapper #registration-form input[type=text],
.form-wrapper #registration-form input[type=tel],
.form-wrapper #registration-form input[type=email] {
  max-width: 248px;
  height: 51px;
  padding: 13px 0 14px 22px;
  margin: 0 0 14px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #272d3d;
  color: #d7d7d7;
}
@media (max-width: 1024px) {
  .form-wrapper #registration-form input[type=text],
  .form-wrapper #registration-form input[type=tel],
  .form-wrapper #registration-form input[type=email] {
    width: 100%;
    max-width: 286px;
    height: 46px;
    border-radius: 4.48px;
  }
}
.form-wrapper #registration-form input[type=email] {
  margin: 14px 0 14px 0;
}
.form-wrapper #registration-form input[type=tel] {
  padding-left: 107px !important;
}
.form-wrapper #registration-form input[type=submit] {
  width: 100%;
  background-color: #ff3459;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .form-wrapper #registration-form input[type=submit] {
    width: 222.25px;
    height: 45.55px;
    border-radius: 4.48px;
    background-color: #0048ff;
  }
}
.form-wrapper #registration-form input[type=text]::placeholder,
.form-wrapper #registration-form input[type=email]::placeholder,
.form-wrapper #registration-form input[type=tel]::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #d7d7d7;
}
.form-wrapper #registration-form input {
  color: #d7d7d7;
}
.form-wrapper #registration-form input:focus {
  color: #d7d7d7;
  outline: none;
}
.form-wrapper .privacy-policy-block {
  margin-top: 20px;
}
.form-wrapper .privacy-policy-block p,
.form-wrapper .privacy-policy-block a {
  font-size: 12px;
  font-weight: 500;
  line-height: 17.88px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5019607843);
  text-decoration: none;
}
@media (max-width: 1024px) {
  .form-wrapper .privacy-policy-block p,
  .form-wrapper .privacy-policy-block a {
    font-size: 11px;
    line-height: 16.39px;
  }
}
.form-wrapper .privacy-policy-block a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
}